body{
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
#Total{
    display:none;
}

#img {
    width: 20%;
    display: block;
}
#next{
    display: block;
}
h1{
    text-align: center;
    font-family: 'Mali', cursive;
    color: whitesmoke;
}
#startButton{
    text-align: center;
}
#game{
    display:none;
    text-align:center;

}
#img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    margin-bottom:10px;
}
.button:active{
    background-color:green;
}